{{ define "main" }}
{{ $size := .Site.Data.developer }}
{{ $accent := $.Site.Data.appearance.colors.accent }}

{{ partial "templates/listing-schema" . }}
{{ $buttonColor := $.Site.Data.appearance.colors }}

<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-flex-bottom uk-hidden@m uk-grid-small" style="position: relative;bottom: 40px" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-card">
                    <ul class="uk-flex uk-list uk-flex-left uk-flex-bottom">
                        <li>
                            {{ if .Params.status }}<span class="status uk-badge" {{ if in .Params.status "Sold" }}style="background: #d10000"{{ else }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }}"{{ end }}>{{ .Params.status }}</span>{{ end }}
                            {{ if .Params.featured }}<span class="featured uk-badge">{{ .Params.featured }}</span>{{ end }}
                            <h2 class="uk-margin-small-top uk-h1 uk-text-bold">{{ .Params.short_title }}</h2>
                            <h3 class="uk-margin-remove uk-h5">{{ .Title }}, {{ .Params.cities }}, {{ .Params.states }} {{ index .Params "zip-codes" }}</h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-card">
                    <div class="uk-display-block">
                        <ul class="uk-flex uk-list uk-flex-bottom">
                            <li>
                                <p class="uk-margin-remove">Price</p>
                                <h3 class="uk-margin-remove">{{ .Params.price }}</h3>
                            </li>
                            <li class="uk-display-block">
                        
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid-medium" uk-grid>

            
            {{ partial "templates/property-sidebar" . }}
        </div>
    </div>
</div>
{{ end }}