{{ define "main" }}
{{ $buttonColor := .Site.Data.appearance.colors }}

<div class="uk-section uk-section-large">
    <div class="uk-container">
        <h2>Thank you</h2>
        <p>We will get back to you as soon as possible!</p>
        <a href="{{ .Site.BaseURL }}" class="uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>Return Home</a>
    </div>
</div>
{{ end }}